@{
    ViewBag.Title = "Home";
}

<section class="u-align-center u-black u-clearfix u-section-1" id="carousel_3a83">
    <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
    <div alt="" class="u-border-8 u-border-white u-image u-image-circle u-image-1" data-image-width="591" data-image-height="1280"></div>
    <h2 class="u-text u-text-1">
        Joshua <span style="font-weight: 700;">
            FOLEY<span style="font-weight: 700;"></span>
        </span>
    </h2>
    <p class="u-text u-text-2">Up and Coming Developer with a passion for the Backend and Data Mangagement. Turning a hobby into a career that leads to a brighter tomorrow.&nbsp;</p>
    <a href="https://nicepage.com/html-templates" class="u-active-none u-border-2 u-border-black u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">read more</a>
</section>
<section class="u-black u-clearfix u-section-2" id="carousel_93b4">
    <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-gutter-50 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                        <h2 class="u-align-left u-text u-text-1">Web Developer</h2>
                        <img src="~/Content/assets/images/code2.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="870" data-image-height="580">
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-2" src="~/Content/assets/images/Coding.jfif" data-image-width="1125" data-image-height="750">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-3" id="carousel_1ef0">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-6 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <h2 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-1">Link to GitHub to sample work done.</h2><span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1135"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-1135" style="enable-background:new 0 0 512 512;"><g><g><path d="M374.108,373.328c-7.829-7.792-20.492-7.762-28.284,0.067L276,443.557V20c0-11.046-8.954-20-20-20    c-11.046,0-20,8.954-20,20v423.558l-69.824-70.164c-7.792-7.829-20.455-7.859-28.284-0.067c-7.83,7.793-7.859,20.456-0.068,28.285    l104,104.504c0.006,0.007,0.013,0.012,0.019,0.018c7.792,7.809,20.496,7.834,28.314,0.001c0.006-0.007,0.013-0.012,0.019-0.018    l104-104.504C381.966,393.785,381.939,381.121,374.108,373.328z"></path>
</g>
</g></svg>
        </span>
        <a href="https://github.com/JFoley91" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-1">Github</a>
        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-2">view GitHub</h5>
    </div>
</section>
<section class="u-black u-clearfix u-section-4" id="sec-c2fa">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1">Take a peak at my Resume as well since you are here</h1>
        <a href="~/Content/Files/Resume.docx" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-1">Resume</a>
    </div>
</section>
<section class="u-black u-border-2 u-border-custom-color-1 u-clearfix u-section-5" id="carousel_d4aa">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h2 class="u-align-center u-text u-text-1">
                                <span style="font-weight: 700;"> STUDENT OF CENTRIQ</span>
                                <br>
                            </h2>
                            <p class="u-text u-text-2">Please feel free to also take a look at the other fantasic classmates I had while going through the Centirq Training Full Stack Web Development Porgram.</p>
                            <a href="http://joshua-foley.com/Classmates.html" class="u-align-center u-btn u-button-style u-palette-2-base u-btn-1">view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>