@{
    ViewBag.Title = "Resume";
}

<link href="~/Content/assets/Resume.css" rel="stylesheet" />

<section class="u-clearfix u-gradient u-section-1" id="sec-9386">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-absolute-hcenter u-border-11 u-border-black u-line u-line-vertical u-line-1"></div>
        <h1 class="u-text u-text-default u-text-1">RESUME TIMELINE</h1>
        <h3 class="u-text u-text-white u-text-2">2009</h3>
        <div class="u-black u-border-3 u-border-white u-radius-10 u-shape u-shape-round u-shape-1"></div>
        <p class="u-text u-text-body-alt-color u-text-3">
            Graduated High School From<br>Escambia High School in Pensacola, FL
        </p>
        <h4 class="u-text u-text-body-alt-color u-text-4">2011</h4>
        <div class="u-black u-border-3 u-border-white u-radius-10 u-shape u-shape-round u-shape-2"></div>
        <p class="u-text u-text-body-alt-color u-text-5">Started Job at Panda Express. I quickly became a Lead Counter with the store and learn skills such as managing Stock, Placing Orders while maintaining set levels of product on top of tons of customer service experince</p>
        <h4 class="u-text u-text-white u-text-6">2014</h4>
        <div class="u-black u-border-3 u-border-white u-radius-10 u-shape u-shape-round u-shape-3"></div>
        <p class="u-text u-text-body-alt-color u-text-7">Started Job as Produce Asst. Manager. Learned to work slightly with Data and Excel to maintain stock levels and order properly. Was also taught how to manage staff and schedule shifts for a team of 8 people.</p>
        <h4 class="u-text u-text-body-alt-color u-text-8">2015</h4>
        <div class="u-black u-border-3 u-border-white u-radius-10 u-shape u-shape-round u-shape-4"></div>
        <p class="u-text u-text-body-alt-color u-text-9">Started Career with Veterans Affairs. I worked with Patient Data, Insurance information, scheduling pateitns and managing issues on the ground level without need for supervision.&nbsp;</p>
        <h4 class="u-text u-text-body-alt-color u-text-10">2020</h4>
        <div class="u-black u-border-3 u-border-white u-radius-10 u-shape u-shape-round u-shape-5"></div>
        <p class="u-text u-text-body-alt-color u-text-11">Began Centriq Training to begin new career path.</p>
    </div>
</section>